
#main {
    -fx-background-color: #b0b0b0; /* Light Beige background */

    }

/* Styles for all Text elements */
Text {
    -fx-font-family: "Times New Roman"; /* Times New Roman font */
    -fx-font-size: 16; /* Increase the font size to 16 */
}
Button{
    -fx-background-color: #3498db; /* Calm Blue */
    -fx-text-fill: #ffffff; /* White text */
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16;
}
Button:hover
{
    -fx-background-color: #92D293; /* Calm Blue */
    -fx-text-fill: #ffffff; /* White text */
}
AnchorPane{
    -fx-background-image: url(/styles/bike.jpg);
    -fx-background-repeat: stretch;
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);

}
Tab{
    -fx-background-color: #b0b0b0;
    -fx-padding: 10;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 13;
}
/* Styles for Szervíz foglalás Tab */
#szervizFoglalasTab {
    -fx-background-color: #b0b0b0; /* Light Beige */
    -fx-padding: 10;
}

#szervizAnchor TextField {
    -fx-background-color: #ffffff; /* White background for text field */
    -fx-border-color: #ccc; /* Light Gray border color */
    -fx-padding: 5;
}
#szervizTipusChoiceBox {
    -fx-background-color: #ffffff; /* White background for choice box */
}

/* Styles for Raktár Tab */
#raktarTab {
    -fx-background-color: #b0b0b0; /* Light Beige */
    -fx-padding: 10;
}


ListView {
    -fx-background-color: #b0b0b0; /* White background color */
    -fx-border-color: #b0b0b0; /* Light gray border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 5px; /* Border radius for rounded corners */
    -fx-padding: 5px; /* Padding for each item */
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16;
}
ListView .list-cell:selected{
    -fx-background-color: #2196f3; /* Blue background color for selected item */
    -fx-text-fill: #ffffff;
}
ListView .list-cell:hover{
    -fx-background-color: #e0e0e0;
}
LisView:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

/* Styles for Foglalások Tab */
#foglalasTab {
    -fx-background-color: #b0b0b0; /* Light Beige */
    -fx-padding: 10;
}

#foglalasAccordion {
    -fx-background-color: #b0b0b0; /* Light Beige */
}

/* Styles for Web Tab */
#webTab {
    -fx-background-color: #b0b0b0; /* Light Beige */
    -fx-padding: 10;
}

#webAccordion {
    -fx-background-color: #b0b0b0; /* Light Beige */
}



